.main-wrap {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 10px;
    background: inherit;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 100%;
}

.left-container {     
    flex: 1
}
.topics-container {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 10px;
    background-color: whitesmoke;
    height: calc(100% - 20px);
}

.right-container {
    display: flex;
    flex-direction: column; 
    flex: 2;
    border-radius: 7px;
    max-width: 100%;
}

.right-container > * {
    border-width: 1.5px;
    border-radius: 5px;
    border-style: solid;
    border-color: #057DAB;
}