.AuthorizationWindow {
    background-color: #FFFFFF;
    width: 35vw;
    height: 25vh;
    margin: 0 auto;
    margin-top: 20vh;
    padding-top: 1vh;
    font-size: 125%;
    color: #39A5DB;
    text-align: center;
    border-radius: 10px;
  }

  #LoginConteiner {
    width: 25vw;
    border-radius: 5px;
    border-style: solid;
    border-color: #39A5DB;
  }

  #PasswordConteiner {
    width: 25vw;
    border-radius: 5px;
    border-style: solid;
    border-color: #39A5DB;
  }

  #AuthButton {
    background-color: #FFFFFF;
      margin: 2vh;
      width: 10vw;
      height: 3vh;
      font-size: 80%;
      color: #39A5DB;
      border-style: solid;
      border-color: #39A5DB;
      border-radius: 5px;
  }

  p {
      margin: 1.5vh;
      padding:0;

  }