.AuthorizationWindow {
    background-color: #FFFFFF;
    width: 30vw;
    height: 35vh;
    margin: 0 auto;
    margin-top: 20vh;
    padding-top: 1vh;
    font-size: 130%;
    color: #39A5DB;
    text-align: center;
    border-radius: 10px;
  }

  #LoginConteiner {
    height: 3vh;
    width: 20vw;
    border-radius: 5px;
    border-style: solid;
    border-color: #39A5DB;
  }

  #PasswordConteiner {
    height: 3vh;
    width: 20vw;
    border-radius: 5px;
    border-style: solid;
    border-color: #39A5DB;
  }

  #AuthButton {
    background-color: #FFFFFF;
      margin: 4vh;
      width: 10vw;
      height: 4vh;
      font-size: 80%;
      color: #39A5DB;
      border-style: solid;
      border-color: #39A5DB;
      border-radius: 5px;  
  }
