.message-item {
    overflow-wrap: break-word;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    max-width: 70%;
    background-color: white;
    border-width: 1.5px;
    border-style: solid;
    border-color: #057DAB;
}
.mine {
    align-self: flex-end;
}
.companion {
    align-self: flex-start;
}